@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #e5ecf9;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.wrapper {
  @apply flex flex-col;
}
.container {
  @apply lg:w-[1126px] md:w-[400px];
}
.header {
  @apply bg-white py-2 shadow-2xl shadow-blue-500/50;
}
.logo {
  @apply w-[8rem] h-[2rem] relative;
}
.main {
  @apply border-blue-700 border flex pt-24;
}
.calculator {
  @apply flex gap-32 pt-10;
}
.result__container {
  @apply flex-1 bg-white rounded-[32px] text-center shadow-2xl shadow-gray-400 relative;
}
.result__price {
  @apply pt-14 text-[120px] text-grey;
}
.btn {
  @apply bg-purple rounded-full text-white py-5 px-10 capitalize text-xl block mx-auto absolute -translate-x-1/2 left-1/2 -bottom-8;
}
.calculator__label {
  @apply text-xs font-semibold text-lightgrey capitalize;
}
.slider__range {
  @apply text-xs font-semibold text-lightgrey uppercase;
}
.slider__price:before {
  content: "$";
  vertical-align: text-top;
  /* position: relative; */
  top: 0px;
  left: -2px;
  @apply text-[20px] relative;
}
.slider__price {
  @apply text-[32px] py-1 pl-[1px];
}
.dollar-sign {
  @apply text-[50%];
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-appearance: none;
  border: 2px solid rgba(21, 97, 209, 0.7);
  @apply bg-white;
}
.radio-container {
  user-select: none;
  @apply cursor-pointer flex;
}

.radio-outer-circle {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #4c3272;
  @apply flex items-center justify-center rounded-full bg-white mr-3;
}
.radio-inner-circle {
  @apply bg-purple rounded-full w-[16px] h-[16px];
}
.unselected {
  @apply border border-lightgrey
}
.unselected-circle {
  width: 0;
  height: 0;
}
.helper-text {
  @apply pr-4 text-grey;
}
