@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #e5ecf9;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.wrapper {
  @apply flex flex-col;
}
.container {
  @apply lg:w-[1126px] md:w-full;
}
.header {
  @apply bg-white py-2 shadow-2xl shadow-blue-500/50;
}
.logo {
  @apply w-[8rem] h-[2rem] relative;
}
.main {
  @apply border-blue-700 border flex md:pt-24 max-md:pt-12;
}
.heading {
  @apply md:text-[32px] max-md:text-2xl text-grey font-medium;
}
.calculator {
  @apply flex xl:gap-32 max-xl:gap-16 pt-10 max-md:flex-col-reverse;
}
.btn {
  transition: 0.2s;
  @apply bg-purple md:rounded-full max-md:rounded-xl text-white md:py-5 md:px-10 max-md:p-2 max-md:px-4 capitalize text-xl block md:mx-auto md:absolute md:-translate-x-1/2 md:left-1/2 md:-bottom-8 max-md:text-base;
}
.btn:hover {
  @apply -bottom-6;
}
.calculator__label {
  @apply text-xs font-semibold text-lightgrey capitalize;
}
.MuiSlider-thumb {
  color: green;
  border: 1px solid #000;

  @apply text-white border-2 border-bluebg;
}
.MuiSlider-rail {
  @apply text-lightgrey;
}
.MuiSlider-track {
  @apply text-bluebg;
}
.slider {
  @apply absolute w-full -top-1 h-1 bg-transparent appearance-none pointer-events-none;
}
.slider__info {
  @apply max-md:flex justify-between;
}
.slider__range {
  @apply text-xs font-semibold text-lightgrey uppercase;
}
.slider__value {
  @apply text-[32px] py-1 pl-[1px] text-grey;
}
.price__symbol:before {
  content: "$";
}
.percentage__symbol:after {
  content: "%";
}
.slider__price:before {
  content: "$";
  vertical-align: text-top;
  top: 0px;
  left: -2px;
  @apply text-[20px] relative;
}
.slider__percentage:after {
  content: "%";
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-appearance: none;
  border: 2px solid rgba(21, 97, 209, 0.7);
  @apply bg-white;
}
.radio__container {
  user-select: none;
  @apply cursor-pointer flex;
}
.radio__wrapper {
  @apply flex md:flex-col gap-3;
}
.radio__label {
  @apply pr-4 text-grey font-semibold max-md:text-sm max-md:pt-1;
}
.radio-outer-circle {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #4c3272;
  @apply flex items-center justify-center rounded-full bg-white mr-3;
}
.radio-inner-circle {
  @apply bg-purple rounded-full w-[16px] h-[16px];
}
.unselected {
  @apply border border-lightgrey;
}
.unselected-circle {
  @apply w-0 h-0;
}
.ct-animate-blink {
  animation: blink 0.8s infinite;
  animation-fill-mode: both;
}
@keyframes blink {
  0% {
    opacity: 0.16;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.16;
  }
}
.ct-animate-blink-darker {
  animation: blink-darker 0.8s infinite;
  animation-fill-mode: both;
}
@keyframes blink-darker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
.result__container {
  @apply flex-1 bg-white rounded-[32px] max-md:rounded-[16px] md:text-center max-md:shadow-sm md:shadow-2xl md:shadow-gray-400 relative max-md:p-6;
}
.result__price:before {
  content: "$";
  @apply md:text-[48px] md:top-[6px] max-md:-top-[16px] -left-[2px] relative md:align-text-top;
}
.result__price {
  @apply md:text-[120px] md:font-black max-md:font-bold text-grey md:pt-14 md:pb-8 pl-[1px];
}
.result__text {
  @apply text-lightgrey font-semibold md:text-xl max-md:mb-6 md:pt-14;
}
.result__decimal {
  @apply text-xl md:text-[48px] max-md:text-[16px] align-text-top relative md:top-7 -right-1;
}
