@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #e5ecf9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  @apply lg:w-[1126px] md:w-[400px];
}
.header {
  @apply bg-white py-2 shadow-2xl shadow-blue-500/50;
}
.logo {
  @apply w-[8rem] h-[2rem] relative;
}
